.main-container {
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.top-header {
  width: 375px;
  background-image: url("../images/background.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.toolbar {
  display: flex;
  justify-content: space-between;
  width: 375px;
}

.toolbar span {
  margin: auto 0;
}

.toolbar > * {
  padding: 20px;
}

.toolbar a {
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  color: #28352f;
  text-decoration: none;
}

.header-title {
  text-align: center;
}

.header-title h1,
.header-title h2 {
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  color: #172b4d;
}

.header-title .color-green {
  color: #36b37f;
}

.header-body {
  text-align: center;
  padding: 24px;
}

.header-body p {
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  color: #172b4d;
}

.icons {
  list-style-type: none;
  display: flex;
  justify-content: center;
  padding: 0;
}

.icons li {
  padding: 4px;
}

.down-arrow {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 60px;
}

.down-arrow img {
  border: 1px solid #dfe1e6;
  border-radius: 32px;
}

.work-container {
  display: grid;
}

.work-title {
  display: flex;
  justify-content: center;
}

.work-title h2 {
  color: #172b4d;
  text-align: center;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  width: 327px;
}

.work-list {
  padding: 24px;
}

.work-list ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.work-list .list-item {
  display: flex;
  flex-direction: column;
  border: 1px solid #d0d9d4;
  border-radius: 8px;
  background: #ebf0ee;
  margin-bottom: 24px;
}

.image-placeholder {
  height: 252px;
}

.image-desc {
  background: #ffffff;
  border-radius: 8px;
  width: 327px;
  height: 222px;
  padding: 16px;
}

.image-desc h2 {
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  color: #3a4a42;
  margin: 16px 0px;
}

.buttons {
  display: flex;
  justify-content: space-between;
}

.buttons div {
  background: #ebf0ee;
  border-radius: 4px;
  padding: 8px 12px;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
}

.button-link {
  display: flex;
  justify-content: center;
  margin-top: 29px;
}

.button-link button {
  background: #36b37f;
  border-radius: 4px;
  width: 122px;
  height: 48px;
  align-items: center;
  padding: 12px;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  color: #ffffff;
  letter-spacing: 0.03em;
  border: 0;
}

.about-container {
  display: grid;
}

.about-header {
  display: flex;
  justify-content: center;
}

.about-header h1 {
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
}
